

body {
    padding-top: 4rem;
    font-size:13px;
    font-family:Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height:1.30769231;
  }

header nav {
  background-color: #fff;
  width: 100%;
}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;
}

header nav a:hover {
    text-decoration: none;
}

header nav img {
    width: 36px;
    height: 36px;
}

section.hero {
    height: 556px;
    background-image: url('../img/header.png');
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
}

section.hero div {
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

section.hero span {
    display: block ruby;
    background-color: rgba(255,255,255,0.5);
    font-size: xx-large;
    padding: 0.5em;
}

.skills-title {
    text-align: center;
    line-height:4.5rem;
}

ul {
    padding: 0 0;
}

.skills-list li{
    display: inline-block;
    text-align: center;
    width: 33%;
    padding: 0;
    vertical-align: top;
    padding: 0.5em;
}

.img-skill {
    width: 100px;
}

.footer {
    line-height:4.5rem;
    color: #999;
    text-align: center;
    font-size: small;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}